@media screen and (max-width: 500px) {
    .header__image {
        max-width: 142px;
        max-height: 42px;
    }
}
@media screen and (max-width: 318px) {
    .header__image {
        max-width: calc(100vw/2.25);
       /* max-height: 42px;*/
    }
}