.place__title {
    grid-area: title;
    font-size: 72px;
    line-height: 1.05;
    margin: 0;
    font-weight: 900;
}
@media screen and (max-width: 920px) {
    .place__title {
        font-size: 57px;
        line-height: 1.1;
    }
}
@media screen and (max-width: 768px) {
    .place__title {
        font-size: 42px;
    }
}
@media screen and (max-width: 500px) {
    .place__title {
        font-size: 37px;
    }
}
@media screen and (max-width: 340px) {
    .place__title {
        font-size: 32px;
        margin-left: 16px;
        margin-right: 16px;
    }
}
@media screen and (max-width: 250px) {
    .place__title {
        font-size: calc(100vw/7);
    }
}