.page {
    background-color: #2A2C2F;
   /* font-family: "Inter", "Arial", "Helvetica", sans-serif;*/
    font-family: "Inter";
    -webkit-font-smoothing: antialiased;
    margin: 0 auto;
    width: 90.5%;
    color: #FFFFFF;
    position: relative;
}

@media screen and (min-width: 1034px) {
    .page {
        width: 92.5%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .page {
        max-width: 94%;
    }
}
@media screen and (max-width: 320px) {
    .page {
        max-width: 90%;
    }
}