.photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 14px;
    margin-top: 92px;
}

@media screen and (min-width: 1440px) {
    .photo-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (max-width: 768px) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 320px) {
    .photo-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}