.place__image {
    grid-area: image;
    width: 440px;
    height: 440px;
}
@media screen and (min-width: 1034px) {
    .place__image {
        width: 460px;
        height: 460px;
    }
}
@media screen and (max-width: 768px) {
    .place__image {
        width: 340px;
        height: 340px;
    }
}
@media screen and (max-width: 376px) {
    .place__image {
        width: 100vw;
        height: 340px;
        margin-left: calc(100vw/-30);
    }
}
@media screen and (max-width: 320px) {
    .place__image {
	height: 320px;
        margin-left: calc(100vw/-22);
    }
}
@media screen and (max-width: 318px) {
    .place__image {
        width: calc(100vw/1.01);
        height: calc(100vw/1.01);
    }
}