.cover__subtitle {
    text-align: center;
    width: 360px;
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal;
    margin: 0 auto;
    margin-top: 32px;
    z-index: 2;
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        width: calc(100vw/2.13);
        font-size: 14px;
        margin-top: calc(100vw/24);
    }
}

@media screen and (max-width: 700px) {
    .cover__subtitle {
        width: calc(100vw/1.8);
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        width: calc(100vw/1.1);
        font-size: calc(100vw/22);
        line-height: 1.1;
        margin-top: 16px;
        margin-top: calc(100vw/20);
    }
}