.cover__subtitle {
    text-align: center;
    width: 360px;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    margin: 0 auto;
    margin-top: 32px;
    z-index: 2;
}

@media screen and (max-width: 422px) {
    .cover__subtitle {
        width: 354px;
        font-size: 16px;
        line-height: 1.1;
    }
}
@media screen and (max-width: 320px) {
    .cover__subtitle {
        width: 288px;
        font-size: 14px;
        line-height: 1.1;
        margin-top: 16px;
    }
}