.cover__subtitle {
    text-align: center;
    width: 360px;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    margin: 0 auto;
    margin-top: 32px;
    z-index: 2;
}
@media screen and (max-width: 450px) {
    .cover__subtitle {
        width:calc(100vw/1.08);
        font-size: calc(100vw/26);
        line-height: 1.1;
        margin-top: calc(100vw/20);
    }
}
@media screen and (max-width: 320px) {
    .cover__subtitle {
        width: 288px;
        font-size: 14px;
        margin-top: 16px;
    }
}
@media screen and (max-width: 300px) {
    .cover__subtitle {
        width:calc(100vw/1.09);
        font-size: calc(100vw/26.5);
    }
}