.header__logo {
    width: 176px;
}

@media screen and (max-width: 360px) {
    .header__logo {
        width: 142px;
    }
}
@media screen and (max-width: 250px) {
    .header__logo {
        width: calc(100vw/1.9);
    }
}