.place__text {
    margin: 0;
    margin-bottom: 26px;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
}
.place__text:last-of-type {
    margin-bottom: 0;
}
@media screen and (max-width: 768px) {
    .place__text {
        font-size: 16px;
    }
}