.header__link {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 1.2;
    font-weight: normal;
    margin-right: 18px;
}

.header__link:last-of-type {
    margin-right: 0;
}

@media screen and (max-width: 400px) {
    .header__link {
        font-size: 18px;
        line-height: 1.1;
    }
}
@media screen and (max-width: 318px) {
    .header__link {
        font-size: calc(100vw/17);
        line-height: 1.1;
        margin-right: 9px;
    }
}