.footer__link {
    margin: 0;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 18px;
    font-size: 16px;
    line-height: 1.12;
    flex-direction: row;
    font-weight: 400;
}

.footer__link:last-of-type {
    margin-right: 0;
}
@media screen and (max-width: 800px) {
    .footer__link {
        margin-right: 10px;
    }
 }

@media screen and (max-width: 495px) {
    .footer__link {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 32px;
        font-size: 24px;
        line-height: 1;
    }
}
@media screen and (max-width: 300px) {
    .footer__link {
        font-size: calc(100vw/12);
    }
}