.footer__link {
    margin: 0;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 18px;
    font-size: 16px;
    line-height: 1.12;
}

.footer__link:last-of-type {
    margin-right: 0;
}