.place__paragraph_item {
    margin: 0;
    margin-bottom: 26px;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
}
.place__paragraph_item:last-of-type {
    margin-bottom: 0;
}
@media screen and (max-width: 768px) {
    .place__paragraph_item {
        font-size: 16px;
        line-height: 1.6;
    }
}
@media screen and (max-width: 500px) {
    .place__paragraph_item {
        font-size: 16px;
        line-height: 1.6;
    }
}