.lead__image {
    width: 100%;
    margin-top: 56px;
}
@media screen and (max-width: 768px) {
    .lead__image {
        margin-left: calc(100vw/-28);
        width: 100vw;
    }
}
@media screen and (max-width: 320px) {
    .lead__image {
        margin-top: 40px;
        margin-left: calc(100vw/-22);
    }
}