.lead__subtitle {
   font-size: 30px; 
   font-weight: 400;
   line-height: 1.2;
   text-align: center;
   max-width: 600px;
   margin: 0 auto;
   margin-top: 32px;
}
@media screen and (max-width: 600px) {
   .lead__subtitle {
       font-size: 28px;
       line-height: 1.1;
   }
}
@media screen and (max-width: 500px) {
   .lead__subtitle {
       font-size: 25px;
       line-height: 1.1;
   }
}
@media screen and (max-width: 400px) {
   .lead__subtitle {
       font-size: 18px;
       line-height: 1.1;
   }
}
@media screen and (max-width: 320px) {
   .lead__subtitle {
      font-size: 16px;
      margin-top: 16px; 
   }
}