.cover {
    margin: 0;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-top: 92px;
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 640px;
}

@media screen and (min-width: 1034px) {
    .cover {
        margin-left: auto;
        margin-right: auto;
        height: 740px;
    }
}

@media screen and (max-width: 1024px) {
    .cover {
        margin-left: -48px;
        margin-right: -48px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        margin-top: 90px;
        margin-left: -24px;
        margin-right: -24px;
        height: 480px;
    }
}
@media screen and (max-width: 550px) {
    .cover {
        height: calc(100vw/1.05);
    }
}
@media screen and (max-width: 320px) {
    .cover {
        margin-top: 66px;
        margin-left: -16px;
        margin-right: -16px;
        height: 200px;
    }
}

