.place__link {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 1.2;
    margin-top: 12px;
}
@media screen and (max-width: 318px) {
    .place__link {
        font-size: calc(100vw/18);
    }
}