.cover__title {
    text-align: center;
    width: 560px;
    font-size: 72px;
    font-weight: 900;
    line-height: 1.05;
    margin: 0 auto;
    z-index: 2;
}
@media screen and (min-width: 1280px) {
    .cover__title {
        padding-top: 245px;
    }
}
@media screen and (max-width: 1279px) {
    .cover__title {
        padding-top: 210px;
    }
}
@media screen and (max-width: 1024px) {
    .cover__title {
        padding-top: 195px;
    }
}
@media screen and (max-width: 1023px) {
    .cover__title {
        padding-top: calc(100vw/5.25);
    }
}
@media screen and (max-width: 768px) {
    .cover__title {
        padding-top: 115px;
    }
}
@media screen and (max-width: 710px) {
    .cover__title {
        font-size: calc(100vw/10);
        width: calc(100vw/1.2);
        padding-top: calc(100vw/6.7);
    }
}
@media screen and (max-width: 320px) {
    .cover__title {
        width: 288px;
        font-size: 32px;
        padding-top: 33px;
    }
}@media screen and (max-width: 300px) {
    .cover__title {
        font-size: calc(100vw/10.5);
        width: calc(100vw/1.25);
        padding-top: calc(100vw/6.8);
    }
}