.footer {
   margin-top: 92px;
   display: flex;
   justify-content: space-between;
   margin-bottom: 24px;
}
@media screen and (max-width: 768px) {
   .footer {
     margin-top: 88px;
   }
}
@media screen and (max-width: 750px) {
   .footer {
      flex-direction: column;
      flex-wrap: wrap;
   }
}
@media screen and (max-width: 320px) {
   .footer {
      flex-direction: column;
      flex-wrap: wrap;
      margin-top: 64px;
   }
}