.intro__title {
    font-size: 54px;
    font-weight: 900;
    line-height: 1;
    margin: 0;
    margin-top: 92px;
}
@media screen and (max-width: 768px) {
    .intro__title {
        margin-top: 88px;
    }
}
@media screen and (max-width: 320px) {
    .intro__title {
        font-size: 32px;
        line-height: 1.1;
        margin-top: 64px;
    }
}